{% for row in section %}
    <div class="elastic_row d_row">
        <div class="command">
            <span class="_command">POST {{ row.args.index }}/{{ row.args.type }}/_{{ row.command }} (<span class="_params">{{ row.args.body|json_encode }}</span>)</span>
            <span class="bt-btn _bttoggler">backtrace</span>
            <span class="small" style="padding-left:20px;">{{ row.app }}</span>
        </div>
        <div class="backtrace_row" style="display: none">
            <ul>
                {% for bt in row.bt %}
                    {% if bt.file %}
                        <li>{{ bt.file }}:{{ bt.line }}</li>
                    {% else %}
                        <li><span class="missing">< missing ></span></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
